<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DVISApi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="DVISApiConsumption.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <DVISApi.Properties.Settings>
            <setting name="OutputDirectory" serializeAs="String">
                <value>c:\temp</value>
            </setting>
            <setting name="InputFile" serializeAs="String">
                <value/>
            </setting>
            <setting name="Server" serializeAs="String">
                <value>BHW-SP-CC1DVIS</value>
            </setting>
            <setting name="EndTime" serializeAs="String">
                <value>2020-10-11</value>
            </setting>
            <setting name="StartTime" serializeAs="String">
                <value>2020-10-10</value>
            </setting>
            <setting name="Signal" serializeAs="String">
                <value>sim tag</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>5123</value>
            </setting>
            <setting name="CombineCSVs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VideoSignal" serializeAs="String">
                <value>CSL - Wrapper South</value>
            </setting>
            <setting name="VideoTime" serializeAs="String">
                <value>2020-10-10</value>
            </setting>
        </DVISApi.Properties.Settings>
        <DVISApiConsumption.Properties.Settings>
            <setting name="OutputDirectory" serializeAs="String">
                <value>c:\temp</value>
            </setting>
            <setting name="InputFile" serializeAs="String">
                <value/>
            </setting>
            <setting name="Server" serializeAs="String">
                <value>BHW-SP-CC1DVIS</value>
            </setting>
            <setting name="Hours" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="StartTime" serializeAs="String">
                <value>2020-02-01</value>
            </setting>
        </DVISApiConsumption.Properties.Settings>
    </userSettings>
</configuration>
